venv
.pytest_cache

*~
*.pyc
__pycache__

/*.eggs
/*.egg-info
/build
/dist
/.idea
/embeddings
/weights
/results
/output
/scratch
/annotations
/resources/*
/resizedeepface/*
.DS_Store

/insightface/weights
**/**/__pycache__
