venv
.pytest_cache

*~
*.pyc
__pycache__

/*.eggs
/*.egg-info
/build
/dist
/.idea
/embeddings
/weights
/results
/output
/scratch
/annotations
/resources/*
.DS_Store

/insightface/weights
/insightface/checkpoints
cal_pairs_*
test_pairs_*
results_*
**/**/__pycache__
