sklearn
streamlit
lir>=0.0.3
confidence
pandas>=1.0.3
scipy
typing-extensions
altair
xlrd
keras==2.3.1
pytest==5.4.1
numpy>=1.18.2
matplotlib>=2.2.2
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
opencv-python>=3.4.4
tensorflow==2.0.0
bcolz==1.2.1
PyYAML
